@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

nav {
    background-color: #FFFFFF;
    display: flex;
    padding: 1.125rem 5rem;
    justify-content: space-between;
    font-weight: 500
}



.button__base {
    display: inline-flex;
    gap: 8px;
    color: #3A404E;
    align-items: center;
}

.content {
    display: flex;
    gap: 32px;
    padding: 0.25rem;
    align-items: center;
    margin-right: 25%;
    margin-left: 2%;
}

.content a {
    color: #667085;
    text-decoration: none;
    font-size: 1rem;
}

.navigation__actions button {
    padding: 10px 18px;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
}

.navigation__actions__entrar {
    border: none;
    color: #667085;
    background-color: #FFFFFF;
}
.navigation__actions__cadastrar {
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    background-color: #8E2424;
    border: 1px solid #8E2424;
    color: #FFFFFF;
}


.container__sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5.75rem 0;
    gap: 24px;
}

.container__sobre span {
    color: #8E2424;
    font-weight: 600;
    font-size: 1rem;
}

.container__sobre h1 {
    color: #101828;
    font-size: 3rem;
    font-weight: 600;
}

.container__sobre p {
    font-size: 1.1rem;
    font-weight: 400;
    color: #667085;
    text-align: center;
    max-width: 50%;
}

.container__metricas {
    display: flex;
    gap: 32px;
    justify-content: center;
    padding-bottom: 96px;
}

.container__metricas__metrica {
    display: flex;
    flex-direction: column;
    width: 280px;
    gap: 8px;
}

.container__metricas__metrica p {
    color: #667085;
}

.container__metricas__metrica h1 {
    color: #8E2424;
    font-size: 3.75rem;
    margin-bottom: 4px;
}

.container__vagas__talentos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container__vagas__talentos span {
    background: rgba(142, 36, 36, 0.05);
    border-radius: 1rem;
    padding: 4px 12px;
    color: #8E2424;
    font-weight: 500;
    font-size: 0.875rem;
    margin-bottom: 1rem;
}

.container__vagas__talentos h1 {
    font-size: 2.25rem;
    font-weight: 600;
    color: #101828;
    margin-bottom: 1.25rem;
}

.container__vagas__talentos p {
    font-size: 1.25rem;
    color: #667085;
    font-weight: 400;
    margin-bottom: 4rem;
}